.body {
    background-color: rgb(97, 97, 97);
    font-size: 16px;
}
.flex-con {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top {
    background-color: rgb(36, 32, 32);
    color: white;
    font-size: larger;
    height: 100px;
    width: 100%;
    display: flex;    
}
.right {
    background-color: rgb(42, 40, 40);
    width: 25vh;
    min-width: 170px;
    height:100vh;
    color: rgb(255, 255, 255);
    font-size: 36px;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    padding: 0px 2px;
}

.post {

}
.author-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    background-color: #333;
    border-radius: 15px;
    border: 5px solid rgb(69, 69, 69)
}
.avatar {
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 0px 5px;
    background-color: white;
    border-radius: 50%;
}
.author-name {
    color: white;
    font-size: 24px;
    justify-self: flex-start;
    align-self: center;
    margin:0 10px;
}
.date-text {
    display: flex;
    color: white;
    font-size: 24px;
    align-self: center;
    justify-self: flex-end;
    margin-left: 10px;
}
.full-post {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 900px;
    min-width: 200px;
    min-height: 200px;
    max-height: 300px;
    margin: 15px;
    background-color: rgb(69, 69, 69);
    border-radius: 15px;
}

.post-img {
    max-height: 180px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}
.left {
    background-color: rgb(42, 40, 40);
    width: 25vh;
    min-width: 170px;
    height:100vh;
    color: rgb(255, 255, 255);
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 0px 2px;
}

.finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 60px;
    margin-right: 50px;
    color: white;  
}

input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 25px;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #d2d2d200;
    border: 1px solid;
    border-color: rgb(97, 97, 97);
    color: #d2d2d2;
    display: flex;
    align-items: center;
    text-align: left;
    height: 50px;
}

.search_bar{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
}
.search-form {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 800px;
    min-width: 200px;
}

.reg {
    display: flex;
    background-color: rgb(132, 132, 132);
    height: 50px;
    justify-content: left;
    justify-self:center;
    font-size: 32px;
    align-items: center;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    border-radius: 10px;
    padding: 0px 10px
}
.reg:hover {
    background-color: #d2d2d2;
}

/* This is LoginPage */
.FlowPost {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 100px 0 0 0;
}
.FlowPostforgot {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 100px 0 0 0;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgb(97, 97, 97);
}
.register-form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 300px;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form input, .register-form button {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.register-form input {
    background-color: #555;
    color: white;
}

.register-form button {
    background-color: #888;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.register-form .no-account {
    background-color: transparent;
    color: lightgray;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.login:hover {
    background-color: #bbb;
}

input[type="login"] {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    justify-content: center;
    background-color: #555;
    color: white;

    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    text-align: left;
}

.register-form input[type="login"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="emailcode"] {
    width: 100%;
    padding: 10px 0; /* Оставляем padding как есть */
    text-indent: 10px; /* Сдвигаем курсор и текст вправо */
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    text-align: left;
}

.register-form button[type="submitforgot"]{
    margin-top: 70px;
}
